body {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 80px;
}

.productName {
    margin-bottom: 20px;
}

.product {
    width: 200px;
}



img {
    display: block;
}

button {
    margin-top: 15px;
    display: block;
}
